

.question {
  margin: auto;
  border: 2px solid green;
    margin: auto;
    padding-left: 20px;
}

.option {
  cursor: pointer;
  line-height: 1.5;
}



.container{

}

.option-name {
  margin-left: 10px;
}